/* Set all margins and padding to 0 */
* { margin: 0; padding: 0; }

/***** Content Area and General Page Styles ******/
body {
  background-color: #3a3a41;
  font-family: sans-serif;
  font-size: 110%;
}

h1.site-title {
  color: #ff8900;
  font-size: 2em;
}

h2 {
  font-size: 1.75em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  color: #3a3a41;
  font-size: 1.25em;
}

h1, h2, h3, h4 {
  padding: .5em 0;
}

p {
  font-size: 1em;
  overflow-wrap: break-word;
  padding-bottom: 0.75em;
  word-wrap: break-word;
}

ul {
  margin-bottom: 1em;
}

ul li {
  font-size: 1em;
  margin-bottom: .25em;
}

ul.plain, ol.plain {
  margin-left: 1.5em;
}

a:link,
a:visited {
  color: #073763;
}

header h3 {
  cursor: pointer;
}

footer {
  font-size: 0.9em;
}

section {
  border: 1px solid #3a3a41;
  border-radius: 10px;
  margin: 10px 0;
  padding: 0px 0.5em;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

div#content,
div#page {
  background-color: #ffffff;
  border-radius: 10px;
  clear: both;
  margin: auto;
  max-width: 56em;
  padding: 1em;
  text-align: left;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

#banner {
  background-color: #3a3a41;
  width: 100%;
  text-align: center;
}

.topnav {
  text-align: center;
}

.topnav li {
  display: inline-block;
  font-size: 1em;
  margin: .5em .15em;
}

.topnav li a {
  background-color: #f0f0f0;
  border: 1px solid #3a3a41;
  border-radius: 5px;
  padding: .12em .3em;
  text-decoration: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

.topnav li a:active {
  background-color: #3a3a41;
  border: 2px solid silver;
  color: silver;
}

nav.topnav {
  margin-top: 1em;
}

.bold {
  font-weight: bold;
}

.it {
  font-style: italic;
}

.center {
  text-align: center;
}

.site-foot {
  color: silver;
  text-align: center;
  margin: 1em 0;
} /* Footer below the page contents. */

.site-foot a {
  color: silver;
}

#slogan {
  font-style: italic;
  font-weight: bold;
}

/***** Toolbar and Site Menu Styles *****/
#toolbar {
  background-color: #3a3a41;
  border: 1px solid silver;
  position: fixed;
  top: 0;
  width: 100%;
}

#main-menu li {
  float: left;
  list-style: none;
}

#main-menu div {
  background-color: #f0f0f0;
  display: none;
  font-size: 1.25em;
  font-weight: bold;
  margin-top: 55px;
  position: absolute;
  width: 13em;
}

#main-menu div a {
  border: 1px solid black;
  display: block;
  padding: 1.25em;
  position: relative;
  text-decoration: none;
  width: auto;
}

#main-menu div a:active {
  background-color: #3a3a41;
  color: silver;
}

#activate {
  background-color: #3a3a41;
  border: 1px solid #aefd82;
  color: #aefd82;
  cursor: pointer;
  display: block;
  text-decoration: none;
}

.group:after {
  clear: both;
  content: '';
  display: table;
} /* Fix for clear problem on containing element ("clearfix"). Otherwise, a
  height would need to be specified to expand #toolbar so that it visibly
  contains the elements on the page. */

/***** Scripture Text *****/
.book-title {
  text-align: center;
  text-transform: uppercase;
}

.chapter-text {
  padding: 0 1em
}

.ch-end {
  font-size: 1.33em;
  font-weight: bold;
  text-align: center;
}

.ch-outline {
  color: #3a3a41;
  font-size: .8em;
  font-style: italic;
  text-align: center;
} /* Chapter outline formatting */

.gr-heb {
  font-family: serif;
} /* Greek and Hebrew formatting */

.hide-text {
  color: #3a3a41;
  cursor: pointer;
  font-size: 1.25em;
  padding: 0.5em 0;
  text-align: right;
  text-decoration: underline;
}

.toc li {
  font-size: 1.1em;
  list-style: none;
  margin-bottom: .5em;
} /* Table of contents for books and chapters. */

.woc {
  color: #073763;
} /* Words of Christ */

/***** Two-Column Pages *****/
#main {
  float: left;
  overflow: hidden;
  width: 80%;
}

#side {
  overflow: hidden;
}

.clear {
  clear: both;
}

/***** Table Formatting (normal) *****/
table {
  width: 100%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: .5em;
  text-align: left;
}

th {
  background-color: #3a3a41;
  color: #ff8900;
}

table tr:nth-child(odd) {
  background-color: #f0f0f0;
}

table tr:nth-child(even) {
  background-color: white;
}

/***** Triple-Column Table (3 columns of equal length; the entire cell is 
clickable) *****/
table.trip td, table.trip th {
  width: 33%;
  text-align: center;
}
table.trip td {
  padding: 0;
}
table.trip td a {
  display: block;
  padding: .5em;
}

/***** Link trails (breadcrumbs) *****/
.link-trail {
  font-size: .8em;
  margin-top: .5em;
}

